@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones{
    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }
    a{
        color: v.$blanco;
        display: block;
        margin-bottom: 2rem;
        text-align: center;
        padding: .5rem;
        &:hover{
            color: rgb(139, 139, 139);
        }
    }
    
}